In [3]:
a = "Pakistan"
print(a)

Pakistan

In [4]:
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

In [8]:
a = "paKistan ziNda bad"
print(a)

paKistan ziNda bad

In [7]:
a.capitalize()

'Pakistan zinda bad'

In [10]:
a.upper()

'PAKISTAN ZINDA BAD'

In [13]:
a.title()

'Pakistan Zinda Bad'

In [14]:
print(a)

paKistan ziNda bad

In [15]:
a.format()

'paKistan ziNda bad'

In [16]:
print(a)

paKistan ziNda bad

In [18]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [20]:
print?

In [21]:
print??

In [24]:
a.center??

In [25]:
abc = """
Saylani Welfare Trust
City: Karachi
Country: Pakistan
"""

print(abc)

Saylani Welfare Trust
City: Karachi
Country: Pakistan

In [27]:
abc = '''
Saylani Welfare Trust
City: Karachi
Country: Pakistan
'''

print(abc)

Saylani Welfare Trust
City: Karachi
Country: Pakistan

In [28]:
abc = """
*******PIAIC******
Saylani Welfare Trust
Name: Adeel Ahmed
Father's Name: Aqeel Ahmed
Roll No.: 125
"""
print(abc)

*******PIAIC******
Saylani Welfare Trust
Name: Adeel Ahmed
Father's Name: Aqeel Ahmed
Roll No.: 125

In [30]:
name = "Adeel Ahmed"
father_name = "Aqeel Ahmed"
roll_no = "125"

abc ="""
*******PIAIC******
Saylani Welfare Trust
Name: {}
Father's Name:{}
Roll No.: {}
"""
print(abc.format(name,father_name,roll_no))

*******PIAIC******
Saylani Welfare Trust
Name: Adeel Ahmed
Father's Name:Aqeel Ahmed
Roll No.: 125

In [38]:
a=print("pakistan") #Non return function
print(a)

pakistan
None

In [34]:
a = input("Enter Name")

Enter Name Adeel

In [35]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
roll_no = input("Enter your Roll no")

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

Enter your nameAdeel
Enter your Father's NameAqeel Ahmed
Enter your Roll no125

*******PIAIC********
Saylani Welfer Trust
Name: Adeel
Father's Name: Aqeel Ahmed
Roll No: 125

In [37]:
a = "pakistan "
b = "zinda bad"

a + b #continact

'pakistan zinda bad'

In [39]:
a = 5
b = 7
a + b #Addition

12

In [41]:
5 + 7 #5 & 7 operant, + is operator and addition is assign

12

In [43]:
# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, != # Logical Operator

and, or # Combine logic checking

SyntaxError: invalid syntax (<ipython-input-43-c6e62ce9e0f7>, line 2)

In [44]:
5+2

7

In [45]:
4 - 2

2

In [46]:
3 * 5

15

In [47]:
12 / 3

4.0

In [48]:
12 // 3

4

In [49]:
15 % 4

3

In [50]:
15 / 4

3.75

In [51]:
15 // 4

3

In [52]:
15 // 4.0

3.0

In [53]:
15 / 4.0

3.75

In [54]:
2 ** 3

8

In [55]:
2 + 6 * 8 / 5 + (2*3)

17.6

In [57]:
a = "Pakistan"
a = "China"
print(a)

China

In [58]:
a * 2
print(a)

China

In [59]:
a * 2

'ChinaChina'

In [61]:
a = "abc"
a

'abc'

In [76]:
a += " xyz"
a

'xyzxyzxyzxyzxyzxyz xyz xyz'

In [79]:
a = 15
a %= 4
a

3

In [80]:
a **= 3
a

27

In [81]:
5 == 5

True

In [82]:
5 == 3

False

In [83]:
5 > 3

True

In [84]:
5 < 3

False

In [85]:
5 > 5

False

In [86]:
5 >= 5

True

In [87]:
5 != 5

False

In [88]:
6 < 6

False

In [89]:
6 <= 6

True

In [90]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
#True

True

In [91]:
5 == 5 and 9 <= 7 and 10 >= 9
#True and False and True
#False

False

In [92]:
5 == 5 or 6 <= 7 or 10 >= 9

True

In [93]:
True & True & False # & is used for and

False

In [95]:
True | False | False # | is used for or

True

In [96]:
a = 'abc'
b = 'xyz'
c = '27'

print(a,b,c)

abc xyz 27

In [97]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [99]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [100]:
a = '1'
b = '1'
a + b #It will be performed in concatination not in addition

'11'

In [101]:
int(a) + int(b)

2

In [102]:
float(a) + float(b)

2.0

In [103]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [105]:
#Control flow

In [107]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your Nameqasim
Teacher

In [109]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQasim
Student

In [111]:
name = input("Entery your Name")

if name.lower() =='qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQasIM
Teacher

In [112]:
names = ['qasim','asif','kashif']
names

['qasim', 'asif', 'kashif']

In [113]:
names[1]

'asif'

In [114]:
names

['qasim', 'asif', 'kashif']

In [115]:
names[2] = "Kamran"
names

['qasim', 'asif', 'Kamran']

In [116]:
names = []

while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break

names

nameskashif
namesasif
nameskamran
nameskashif
namesaslam
namesmursalan
namesx

['kashif', 'asif', 'kamran', 'kashif', 'aslam', 'mursalan']